:root {
    --color-dark  : #222222;
    --color-blue  : #3199dc;
    --color-light : #f8f9fa;

    --spacing-sm  : 10px;
    --spacing-md  : 15px;
    --spacing-lg  : 20px;
}

html {
    box-sizing : border-box;
}

*,
*::before,
*::after {
    box-sizing : inherit;
}

body {
    margin           : 0;
    padding          : 0;
    font-family      : "Arial", sans-serif;
    font-size        : 16px;
    line-height      : 1.7;
    background-color : var(--color-dark);
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position : center;
}

.button {
    border           : none;
    background-color : transparent;
    outline          : none;
    cursor           : pointer;
}