:root {
    --color-dark : #222222;
    --color-blue : #3199dc;
}

html {
    box-sizing : border-box;
}

*,
*::before,
*::after {
    box-sizing : inherit;
}

body {
    margin           : 0;
    padding          : 0;
    background-color : var(--color-dark);
}