:root {
    --color-dark  : #222222;
    --color-blue  : #3199dc;
    --color-light : #f8f9fa;
    --color-white : #ffffff;
    --color-black : #000000;

    --spacing-sm  : 10px;
    --spacing-md  : 15px;
    --spacing-lg  : 20px;

    --box-shadow  : 0 2px 24px rgba(168, 175, 196, 0.5);
}

html {
    box-sizing : border-box;
    height     : 100%;
}

*,
*::before,
*::after {
    box-sizing : inherit;
}

body {
    display            : grid;
    grid-template-rows : 1fr repeat(3, auto);
    min-height         : 100%;
    margin             : 0;
    padding            : 0;
    font-family        : "Arial", sans-serif;
    font-size          : 16px;
    line-height        : 1.7;
    background-color   : var(--color-dark);
}

img {
    max-width       : 100%;
    max-height      : 100%;
    object-fit      : cover;
    object-position : center;
}

a {
    color : inherit;
}

.button {
    border           : none;
    background-color : transparent;
    outline          : none;
    cursor           : pointer;
}

.icon-about {
    margin     : 0;
    padding    : 20px 50px;
    color      : var(--color-white);
    text-align : right;
}
